# Tuple Examples

In [2]:
activity= ("Cricket", "1", 9.5, False)
activity

('Cricket', '1', 9.5, False)

In [3]:
type(activity)

tuple

In [4]:
# index example in tuple
values = ('a','b','c','d','e','a','b','a')
values.index('c')

2

In [5]:
# count example in tuple
data = (2,4,6,8,10)
data.count(2)

1

In [6]:
# count example in 
data1 = (2,2,2,3,4,5,6,7,8)
data1.count(2)

3

In [7]:
type(values)

tuple

In [8]:
values + data

('a', 'b', 'c', 'd', 'e', 'a', 'b', 'a', 2, 4, 6, 8, 10)

# List Examples

In [9]:
list = [0,1,2,3,4,5,6,7]
list

[0, 1, 2, 3, 4, 5, 6, 7]

In [10]:
# append function
list.append(8)
list

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
# copy function
new_list1=list.copy()
new_list1

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
list.append(1)
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 1]

In [20]:
list.append(8)
list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 1, 8]

In [21]:
# count function
print(list.count(8))

2

In [15]:
list0 = [11,12,13,14,15,16,17]
list0

[11, 12, 13, 14, 15, 16, 17]

In [16]:
# extend function
list0.extend('MANY')
list0

[11, 12, 13, 14, 15, 16, 17, 'M', 'A', 'N', 'Y']

In [17]:
# index function
print(list0.index('M'))

7

In [22]:
# insert function
list0.insert(4, 'P')
list0

[11, 12, 13, 14, 'P', 15, 16, 17, 'M', 'A', 'N', 'Y']

In [24]:
# remove function
list0.remove(12)
list0

[11, 13, 14, 'P', 15, 16, 17, 'M', 'A', 'N', 'Y']

In [25]:
list0.pop()
list0

[11, 13, 14, 'P', 15, 16, 17, 'M', 'A', 'N']

In [26]:
# reverse function
list0.reverse()
list0

['N', 'A', 'M', 17, 16, 15, 'P', 14, 13, 11]

In [27]:
# sort function
vowels = ['e','a','u','i','o']
vowels.sort()
print(vowels)

['a', 'e', 'i', 'o', 'u']

# Dictionaries

In [28]:
item = {"Ice cream":300, "Cold drink":150}
item

{'Ice cream': 300, 'Cold drink': 150}

In [29]:
# key function
keys1 = item.keys()
keys1

dict_keys(['Ice cream', 'Cold drink'])

In [30]:
# value function
values1 = item.values()
values1

dict_values([300, 150])

In [31]:
# update function
item["Soup"]=100
item

{'Ice cream': 300, 'Cold drink': 150, 'Soup': 100}

In [32]:
# values update
item["Soup"]=150
item

{'Ice cream': 300, 'Cold drink': 150, 'Soup': 150}

In [33]:
Nashta = {"Bread":85, "Eggs":90}
Nashta

{'Bread': 85, 'Eggs': 90}

In [34]:
# concatinate
item.update(Nashta)
item

{'Ice cream': 300, 'Cold drink': 150, 'Soup': 150, 'Bread': 85, 'Eggs': 90}

In [35]:
vowels

['a', 'e', 'i', 'o', 'u']

In [36]:
# fromkeys function
language = 'english'
combine = dict.fromkeys(vowels, language)
print(combine)

{'a': 'english', 'e': 'english', 'i': 'english', 'o': 'english', 'u': 'english'}

In [37]:
item

{'Ice cream': 300, 'Cold drink': 150, 'Soup': 150, 'Bread': 85, 'Eggs': 90}

In [38]:
# copy function
new_item=item.copy()
print(new_item)

{'Ice cream': 300, 'Cold drink': 150, 'Soup': 150, 'Bread': 85, 'Eggs': 90}

In [39]:
# get function
match=item.get('Eggs')
print(match)

90

In [40]:
# get function
match1=item.get('Football')
print(match1)

None

In [41]:
# items function
print(item.items())

dict_items([('Ice cream', 300), ('Cold drink', 150), ('Soup', 150), ('Bread', 85), ('Eggs', 90)])

In [42]:
# pop function
print(item.pop('Ice cream'))

300

In [44]:
# popitem function
x = item.popitem()
print(x)
print(item)

('Bread', 85)
{'Cold drink': 150, 'Soup': 150}

In [45]:
item

{'Cold drink': 150, 'Soup': 150}

In [46]:
item['Sabzi']=200
item

{'Cold drink': 150, 'Soup': 150, 'Sabzi': 200}

In [47]:
# setdefault function
x = item.setdefault('Sabzi')
print(item)
print(x)

{'Cold drink': 150, 'Soup': 150, 'Sabzi': 200}
200

In [48]:
# setdefault function
fruit = item.setdefault('fruit')
print(item)
print(fruit)

{'Cold drink': 150, 'Soup': 150, 'Sabzi': 200, 'fruit': None}
None

In [49]:
# setdefault function
dryfruit = item.setdefault('dryfruit',1000)
print(item)
print(dryfruit)

{'Cold drink': 150, 'Soup': 150, 'Sabzi': 200, 'fruit': None, 'dryfruit': 1000}
1000

# Set

In [50]:
set1 = {1,2,2.9,3.5,4.7,1.8,'Sports','Awesome',9.4,2.6,10,11,12,13}
set1

{1, 1.8, 10, 11, 12, 13, 2, 2.6, 2.9, 3.5, 4.7, 9.4, 'Awesome', 'Sports'}

In [51]:
# add funtion
set1.add(14)
set1

{1, 1.8, 10, 11, 12, 13, 14, 2, 2.6, 2.9, 3.5, 4.7, 9.4, 'Awesome', 'Sports'}

In [52]:
# remove function
set1.remove(9.4)
set1

{1, 1.8, 10, 11, 12, 13, 14, 2, 2.6, 2.9, 3.5, 4.7, 'Awesome', 'Sports'}

In [53]:
# clear function
set2 = {9,8,7,6,5,4}
set2.clear()
set2

set()

In [54]:
# copy function
=set1.copy()
set3

{1, 1.8, 10, 11, 12, 13, 14, 2, 2.6, 2.9, 3.5, 4.7, 'Awesome', 'Sports'}

In [55]:
# difference function
print(set1.difference(set2))

{1, 2, 3.5, 2.9, 4.7, 1.8, 'Awesome', 2.6, 10, 11, 12, 13, 14, 'Sports'}

In [61]:
# difference_update
a = {20, 30, 40, 50}
b = {10, 20, 30, 60}
c = a.difference_update(b)
print(c)

None

In [70]:
print(b)

{10, 20, 30}

In [72]:
# discard function
b.discard(30)
print(b)

{10, 20}

In [76]:
# intersection function
d = {99,98,97}
e = {99,97,95}
print(d.intersection(e))

{97, 99}

In [77]:
# intersection_update function
d.intersection_update(e)
print(d)
print(e)

{97, 99}
{97, 99, 95}

In [79]:
# isdisjoint function
g = {1,2,3,4}
h = {3,4,5}
i = {7,8,9}
print(g.isdisjoint(h))
print(g.isdisjoint(i))

False
True

In [82]:
# is subset function
print(g)
print(h)
print(g.issubset(h))
print(h.issubset(g))

{1, 2, 3, 4}
{3, 4, 5}
False
False

In [83]:
# issuperset function
print(g.issuperset(h))

False

In [85]:
# pop function
print(i.pop())
print(i)

9
{7}

In [90]:
set1

{1, 10, 11, 12, 13, 14, 2, 2.6, 2.9, 3.5, 4.7, 'Awesome'}

In [91]:
# remove function
set1.remove(4.7)
print(set1)

{1, 2, 3.5, 2.9, 'Awesome', 2.6, 10, 11, 12, 13, 14}

In [93]:
# symmetric_difference function
print(g)
print(h)
print(g.symmetric_difference(h))

{1, 2, 3, 4}
{3, 4, 5}
{1, 2, 5}

In [94]:
# symmetric_difference update function
print(g.symmetric_difference_update(h))

None

In [95]:
# union function
print(g.union(h))

{1, 2, 3, 4, 5}

In [100]:
# update function
m = {70,80,90}
n = {'Sports'}
o = m.update(n)
print(m)
print(o)

{80, 90, 'Sports', 70}
None